/ver 1.0/config.py
/ver 2.0/config.py
/Пример формы для оформления.png
ver 2.0/mail_EF.py
ver 2.0/event_register.db
/ver 2.0/__pycache__
ver 2.0/test.py
/app_for_notifics/
/app_for_notifics/buildozer.spec
ver 2.0/event_register.db
